.wrapper {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 0 3%;
}


.logo img {
    height: 50px;
}

.nav-list li {
    display: inline-block;
}

.nav-list li a {
    padding: 40px;
}

.nav-list li a:hover {
    color: #0065FC;
}

.nav-list .nav-active {
    color: #0065FC;
    padding-top: 38px;
    border-top: 2px #0065FC solid;

}

.nav-list .nav-gray:hover {
    color: #0065FC;
    padding-top: 38px;
    border-top: 2px #0065FC solid;

}

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    padding: 0 3%;
}

.home-content {
    text-align: start;
}

.home-content h1 {
    font-weight: bold;
    font-size: 21px;
}

.home-content p {
    padding-top: 10px;
}

.button {
    margin-top: 20px;
}

form {
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 50px;
}

form .fa-location-dot {
    align-self: center;
    padding: 16px 20px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form input {
    flex: 1;
}

form input::placeholder {
    font-weight: bold;
    color: #000;
    padding-left: 15px;
}

form button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #fff;
    padding: 15px 20px;
    font-weight: 500;
    cursor: pointer;
}

form .mobile {
    display: none;
}

.filter {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.filter h1 {
    padding-right: 20px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.filter-container .filter-link  {
    display: flex;
    align-items: center;
    border: 2px #e2e2e2 solid;
    border-radius: 50px;
}

.filter-flex {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #DEEBFF;
}

.filter-flex .icon {
    color: #0065FC;
    font-size: 17px;
    margin: auto;
}

.filter-link p {
    font-weight: bold;
    margin-right: 20px;
    transition: all 300ms;
}

.filter-link:hover p {
    color: #0065FC;
}

.info {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-icon {
    display: flex;
    height: 25px;
    width: 25px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    margin-right: 10px;
}

.info .fa-info {
    color: #0065FC;
    font-size: 14px;
    margin: auto;
}

.info p {
    font-size: 16px;
}


.cards {
    display: flex;
    justify-content: space-between;
    padding: 20px 3%;
    width: 100%;
}

figcaption {
    padding: 15px;
    width: 100%;
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all 300ms;
}

.card-snippet {
    margin-bottom: 5px;
    font-size: 14px;
}

.card-snippet span {
    font-weight: 600;
    font-size: 14px;
}

.card-stars i {
    font-size: 13px;
}

.card-stars .blue {
    color: #0065FC;
}

.card-stars .gray {
    color: #cccccc;
}

footer {
    background-color: #F2F2F2;
    width: 100%;
    padding: 50px 5%;
    transition: all 300ms;
}

footer:hover {
    background-color: #d1d1d1;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.col-footer {
    width: 100%;
}

.footer-title {
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-list li {
    padding: 5px 0;
}

.footer-list li a:hover {
    text-decoration: underline;
}